*
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#layer1
{
    position: relative;
    left: 0px;
    top: 0px;
    width: 2020px;
    height: 1180px;
    overflow: hidden;
    background-image: url(img/Residente/layer1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

#layer2
{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: 2020px;
    height: 1180px;
    overflow: hidden;
    background-image: url(img/Residente/layer2.png);
    background-repeat: no-repeat;
}

#layer3
{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 4;
    width: 2020px;
    height: 1180px;
    overflow: hidden;
    background-image: url(img/Residente/layer3.png);
    background-repeat: no-repeat;
}

#layerCopy1
{
    position: relative;
    left: 0px;
    top: 0px;
    width: 2020px;
    height: 1180px;
    overflow: hidden;
    background-image: url(img/Residente/layer1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

#layerCopy2
{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: 2020px;
    height: 1180px;
    overflow: hidden;
    background-image: url(img/Residente/layer2.png);
    background-repeat: no-repeat;
}

#layerCopy3
{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 4;
    width: 2020px;
    height: 1180px;
    overflow: hidden;
    background-image: url(img/Residente/layer3.png);
    background-repeat: no-repeat;
}


#WhatsUpBlock
{
    background-color: rgba(0, 0, 0, 0.7);
    position:absolute;
    z-index: 4;
    width: 850px;
    height: 900px;
    margin-top: 2%;
    margin-left: 5%;
}

#textBlock
{
    position: relative;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 55%;
}

h1
{
    color: white;
    font-family:Georgia;
    margin-bottom: 10px;
}

h2
{
    color: #9A404D;
    font-family:Georgia;
    margin-bottom: 10px;
}

p
{
    color: gray;
     font-family:Georgia;
}

#WhatsUp
{
    display: inline-block;
    position: relative;
    font-family: Georgia;
    color: gray;
    left: 50%;  
    top: 40px;
}

#ButtonUpLineOne
{
    margin-top: 17px;
    margin-left: 9px;
    position: absolute;
    transform-style: flat;
    backface-visibility: hidden;
    transform: translate3d(-1px, 4px, 0px) rotate(315deg);
    background-color: rgb(85, 86, 87);
    width: 15px;
    height: 1px;
}

#ButtonUpLineTwo
{
    margin-top: 17px;
    margin-left: 19px;
    position: absolute;
    transform-style: flat;
    backface-visibility: hidden;
    transform: translate3d(-1px, 4px, 0px) rotate(-315deg);
    background-color: rgb(85, 86, 87);
    width: 15px;
    height: 1px;
}

#ButtonDownLineOne
{
    margin-top: 17px;
    margin-left: 9px;
    position: absolute;
    transform-style: flat;
    backface-visibility: hidden;
    transform: translate3d(-1px, 4px, 0px) rotate(45deg);
    background-color: rgb(85, 86, 87);
    width: 15px;
    height: 1px;
}

#ButtonDownLineTwo
{
    margin-top: 17px;
    margin-left: 19px;
    transform-style: flat;
    transform: translate3d(-1px, 4px, 0px) rotate(-45deg);
    background-color: rgb(85, 86, 87);
    width: 15px;
    height: 1px;
}

#ButtonUp
{
    left: 1750px;
    top: 700px;
    position: absolute;
    z-index: 6;
}

#ButtonDown
{
    left: 1750px;
    top: 760px;
    position: absolute;
    z-index: 6;
}

#Button
{
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: white;
    background-color: white;
    border: 5px solid;
    border-radius: 40px; 
}

#ButtonWhatsUp
{
    cursor: pointer;
    width: 25px;
    height: 25px;
    transform: rotate(0deg);
    background-image: url(img/ThreePoints.png);
    
    background-size: contain;
    background-position: center;
    color: white;
    background-color: white;
    border: 5px solid;
    border-radius: 50px; 
    margin: 5px;
}

#MenuButton
{
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: white;
    border: 5px solid;
    border-radius: 40px; 
}


 .line {
            background-image: url(img/menuButtonElement.png);
            width: 20px;
            height: 3px;
            margin-bottom: 1px;
        }

#MenuButtonLineOne
{
    margin: 0 auto;
   
    margin-bottom: px;
    background-color: black;
    width: 20px;
    height: 1px;
}

#MenuButtonLineTwo
{
    margin: 0 auto;
    margin-top: 5px;
    background-color: black;
    width: 20px;
    height: 1px;
}


#MenuButtonLineThree
{
    margin: 0 auto;
    margin-top: 5px;
    background-color: black;
    width: 20px;
    height: 1px;
}

main
{
    width: 100%;
    height: 1050px;
    overflow: hidden;
}


